<div class="ui visible inverted left vertical sidebar menu">
  <%=image_tag("gallery/uniadelaide.jpg",  :size => "260x200", :align => "left")%>


  <%= link_to href="/assignment/admin", class:"ui secondary button" do%> Course Coordinator View
    <i class="user md icon"></i>
  <% end %>

  <%= link_to href="/assignment/student", class:"ui secondary button" do%>
    Student View
    <i class="user icon"></i>
  <% end %>

  <div><p>
    .
  </p></div>


  <i class="grey bullhorn icon"></i>
  <button class="ui inverted grey button"><%= link_to "ANNOUNCEMENT", annoucement_hello_path %></button>


  <a class="item">
  </a>

  <i class="blue book icon"></i><button class="ui inverted primary button"><%= link_to "MODULES", modules_modules_path %></button>

  <a class="item">
  </a>

  <i class="green edit icon"></i>
  <button class="ui inverted green button"><%= link_to "ASSIGNMENTS", assignments_assignments_path %></button>

  <a class="item">
  </a>

  <i class="red clipboard icon"></i>
  <button class="ui inverted red button"><%= link_to "EXAMS", exams_exams_path %></button>

  <a class="item">
  </a>

  <i class="orange comment icon"></i>
  <button class="ui inverted orange button"><%= link_to "DISCUSSION", discussion_discussion_path %></button>

  <a class="item">
  </a>

  <i class="yellow video icon"></i>
  <button class="ui inverted yellow button"><%= link_to "LECTURES", lectures_lectures_path %></button>

  <a class="item">
  </a>

  <i class="pink calendar icon"></i>
  <button class="ui inverted pink button"><%= link_to "CALENDAR", calendar_calendar_path %></button>

  <a class="item">
  </a>
  <i class="blue file alternate icon"></i>
  <button class="ui inverted blue button"><%= link_to "changelogs", changelog_changelog_path %></button>

</div>


<h1>Announcement#hello</h1>
<p>Find me in app/views/announcement/hello.html.erb</p>

announcement
