<p>
  .

</p>

<br>
<!--  <div class="ui bottom attached segment pushable">  -->
<div class="ui visible inverted left vertical sidebar menu">
  <%=image_tag("gallery/uniadelaide.jpg",  :size => "260x200", :align => "left")%>


  <%= link_to href="/assignment/admin", class:"ui secondary button" do%> Course Coordinator View
    <i class="user md icon"></i>
  <% end %>

  <%= link_to href="/assignment/student", class:"ui secondary button" do%>
    Student View
    <i class="user icon"></i>
  <% end %>

  <div><p>
    .
  </p></div>


  <i class="grey bullhorn icon"></i>
  <button class="ui inverted grey button"><%= link_to "ANNOUCEMENT", annoucement_hello_path %></button>


  <a class="item">
  </a>

  <i class="blue book icon"></i><button class="ui inverted primary button"><%= link_to "MODULES", modules_modules_path %></button>

  <a class="item">
  </a>

  <i class="green edit icon"></i>
  <button class="ui inverted green button"><%= link_to "ASSIGNMENTS", assignments_assignments_path %></button>

  <a class="item">
  </a>

  <i class="red clipboard icon"></i>
  <button class="ui inverted red button"><%= link_to "EXAMS", exams_exams_path %></button>

  <a class="item">
  </a>

  <i class="orange comment icon"></i>
  <button class="ui inverted orange button"><%= link_to "DISCUSSION", discussion_discussion_path %></button>

  <a class="item">
  </a>

  <i class="yellow video icon"></i>
  <button class="ui inverted yellow button"><%= link_to "LECTURES", lectures_lectures_path %></button>

  <a class="item">
  </a>

  <i class="pink calendar icon"></i>
  <button class="ui inverted pink button"><%= link_to "CALENDAR", calendar_calendar_path %></button>

</div>


<div class="pusher">
  <div class="ui basic segment">
    <div>
      <div class = "ui message">
        <h1 class="ui info header">
          <h1>Lectures</h1>
          <iframe width="420" height="315"
                  src="https://www.youtube.com/embed/k6U-i4gXkLM">
          </iframe>
      </div>
</div>
</div>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

