<%= form_with model: @assignments , url: assignment_update_path(@assignments) , html: { class: "ui form" }, method: :patch do |form| %>

  <div class="field">
    <%= form.label :mark %>
    <%= form.text_field :mark, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit class: "ui primary button"  %>
  </div>
<% end %>