<br>
<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu">
    <a class="item">
      <i class="bullhorn icon"></i>
      <button class="ui inverted white button"><%= link_to "ANNOUCEMENT", annoucement_hello_path %></button>
    </a>
    <a class="item">
      <i class="book icon"></i>
      <button class="ui inverted primary button"><%= link_to "MODULES", modules_modules_path %></button>
    </a>
    <a class="item">
      <i class="edit icon"></i>
      <button class="ui inverted green button"><%= link_to "ASSIGNMENTS", assignments_assignments_path %></button>
    </a>
    <a class="item">
      <i class="clipboard icon"></i>
      <button class="ui inverted red button"><%= link_to "EXAMS", exams_exams_path %></button>
    </a>
    <a class="item">
      <i class="comment icon"></i>
      <button class="ui inverted orange button"><%= link_to "DISCUSSION", discussion_discussion_path %></button>
    </a>
    <a class="item">
      <i class="video icon"></i>
      <button class="ui inverted yellow button">LECTURES</button>
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      <button class="ui inverted pink button">CALENDAR</button>
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <h3 class="ui header">Application Content</h3>
      <div>
        <div class = "ui message">
          <h1 class="ui info header">
            <i class="user md icon"></i>
            Course Coordinator View
          </h1>
          <p></p>
          Assignment
          <div class="ui selection dropdown">
            <input type="hidden" name=“assignment”>
            <i class="dropdown icon"></i>
            <div class="default text">assignment</div>
            <div class="menu">
              <div class="item" data-value=“EXAM”>EXAM</div>
              <div class="item" data-value=“ASSIGNMENT”>ASSIGNMENT</div>
              <div class="item" data-value=“TUTORIAL”>TUTORIAL</div>
              <div class="item" data-value=“WORKSHOP”>WORKSHOP</div>
            </div>
          </div>

          <h2>Results</h2>


          <table class="ui blue table " style="max-width:700px;">
            <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Comments</th>
              <th>Mark</th>
              <th>Grade</th>
              <th class="right aligned"></th>
            </tr>
            </thead>
            <tbody>
            <% @assignment.each do |assignment| %>
            <tr>
              <td><%= assignment.user.studentid %></td>
              <td><%= assignment.user.name %></td>
              <td><%= assignment.mark.comment %></td>
              <td><%= assignment.mark.mark %></td>
              <td><%= assignment.mark.grade %></td>
              <td class="left aligned">
                <div class="ui small basic buttons">
                  <%= link_to "#", class: "ui mini button" do %>
                    <i class="eye icon"></i>
                  <% end %>
                  <%= link_to edit_assignment_path(assignment), class: "ui mini button" do %>
                    <i class="edit outline icon"></i>
                  <% end %>
                  <%= link_to "#", method: :destroy, data: { confirm: 'Are you sure?' }, class: "ui mini button" do %>
                    <i class="cancel icon"></i>
                  <% end %>
                </div>
              </td>
            </tr>
              <% end %>
            </tbody>
          </table>

          <br>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>